{
  "parser": "babel-eslint",
  "extends": [
    "curacloud"
  ],
  "rules": {
    "no-param-reassign": "off",
    "no-console": "off"
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "browser": true,
    "jquery": true,
    "jasmine": true
  }
}
